@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #0d1117;
  color: #e6edf3;
  font-family: "Inter", sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #161b22;
}
::-webkit-scrollbar-thumb {
  background: #1f6feb;
  border-radius: 99px;
}
